<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/app.css}" href="/css/app.css" />
  <title>[[${page_title}]]</title>
</head>
<body>
<div id="app">
  <v-app id="aeron-monitor">

    <v-toolbar color="primary" app clipped-left v-bind:height="48">
      <v-toolbar-side-icon @click.native="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title class="white--text title">[[${toolbar_title}]]</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <v-navigation-drawer fixed clipped class="grey lighten-4" app v-model="drawer" width="220">
      <v-list dense class="grey lighten-4">
        <template v-for="(item, i) in drawerItems">
          <v-divider dark v-if="item.divider" class="my-3" :key="i"></v-divider>
          <v-list-tile :key="i" v-else @click="onDrawerItem(i, item)">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text body-1 font-weight-black">
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <v-container grid-list-md>

        <!--  System information -->
        <v-layout row wrap v-show="layoutVisible[0]">
          <v-flex xs12>
            <v-subheader>System information</v-subheader>
          </v-flex>
          <v-flex xs6>
            <v-data-table
              hide-actions
              :headers="sysInfo.headers"
              :items="sysInfo.data"
              class="elevation-6">
              <template slot="items" slot-scope="props">
                <td class="text-xs-left">{{ props.item.label}}</td>
                <td class="text-xs-left">{{ props.item.value}}</td>
              </template>
            </v-data-table>
          </v-flex>
          <v-flex xs6></v-flex>
        </v-layout>

        <!--  Plugins -->
        <v-layout row wrap v-show="layoutVisible[0] && plugins.data.length">
          <v-flex xs12>
            <v-subheader>Plugins</v-subheader>
          </v-flex>
          <v-flex xs6>
            <v-data-table
              hide-actions
              :headers="plugins.headers"
              :items="plugins.data"
              class="elevation-6">
              <template slot="items" slot-scope="props">
                <td class="text-xs-left">{{ props.item.name}}</td>
                <td class="text-xs-left">{{ props.item.version}}</td>
              </template>
            </v-data-table>
          </v-flex>
          <v-flex xs6></v-flex>
        </v-layout>

        <!--  System counters -->
        <v-layout row wrap v-show="layoutVisible[2]">
          <v-flex xs12>
            <v-subheader>System counters</v-subheader>
          </v-flex>
          <v-flex xs6>
            <v-data-table
              :headers="counters.headers"
              :items="counters.data"
              class="elevation-6">
              <template slot="items" slot-scope="props">
                <td class="text-xs-right">{{ props.item.id }}</td>
                <td class="text-xs-left">{{ props.item.name }}</td>
                <td class="text-xs-right">{{ props.item.value }}</td>
              </template>
            </v-data-table>
          </v-flex>
          <v-flex xs6></v-flex>
        </v-layout>

        <!--  Streams -->
        <v-layout row wrap v-show="layoutVisible[3]">
          <v-flex xs12>
            <v-subheader>Streams</v-subheader>
          </v-flex>
          <v-flex xs6>
            <v-data-table
              :headers="streams.headers"
              :items="streams.data"
              class="elevation-6">
              <template slot="items" slot-scope="props">
                <td class="text-xs-right">{{ props.item.sessionId }}</td>
                <td class="text-xs-left">{{ props.item.channel }}</td>
                <td class="text-xs-right">{{ props.item.streamId }}</td>
              </template>
            </v-data-table>
          </v-flex>
          <v-flex xs6></v-flex>
        </v-layout>

        <!--  Loss records -->
        <v-layout row wrap v-show="layoutVisible[4]">
          <v-flex xs12>
            <v-subheader>Loss records</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-data-table
              :headers="lossRecords.headers"
              :items="lossRecords.data"
              class="elevation-6">
              <template slot="items" slot-scope="props">
                <td class="text-xs-right">{{ props.item.sessionId }}</td>
                <td class="text-xs-left">{{ props.item.channel }}</td>
                <td class="text-xs-right">{{ props.item.streamId }}</td>
                <td class="text-xs-right">{{ props.item.observationCount }}</td>
                <td class="text-xs-left">{{ props.item.source}}</td>
                <td class="text-xs-right">{{ props.item.totalBytesLost }}</td>
                <td class="text-xs-left">{{ props.item.firstObservationTime }}</td>
                <td class="text-xs-left">{{ props.item.firstObservationTime }}</td>
              </template>
            </v-data-table>
          </v-flex>
          <v-flex xs4></v-flex>
        </v-layout>

        <!--  Error records -->
        <v-layout row wrap v-show="layoutVisible[5]">
          <v-flex xs12>
            <v-subheader>Loss records</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-data-table
              :headers="errorRecords.headers"
              :items="errorRecords.data"
              class="elevation-6">
              <template slot="items" slot-scope="props">
                <td class="text-xs-left">{{ props.item.encodedException}}</td>
                <td class="text-xs-left">{{ props.item.firstObservationTime }}</td>
                <td class="text-xs-left">{{ props.item.firstObservationTime }}</td>
                <td class="text-xs-right">{{ props.item.observationCount }}</td>
              </template>
            </v-data-table>
          </v-flex>
          <v-flex xs4></v-flex>
        </v-layout>

      </v-container>
    </v-content>

    <v-footer class="pa-3" app>
      <v-tooltip right :style="{width: '80px'}">
        <v-select
          slot="activator"
          :items="view.autoUpdateList"
          v-model.number="view.autoUpdateTimeout"
          class="grey--text caption">
        </v-select>
        <span>Refresh period, sec.</span>
      </v-tooltip>
      <v-spacer></v-spacer>

      <v-tooltip left :style="{width: '140px'}">
        <v-select
          slot="activator"
          :items="drivers"
          v-model.number="selectedDriver.name"
          class="grey--text caption">
        </v-select>
        <span>Driver</span>
      </v-tooltip>
      <v-chip label outline v-bind:style="connectionState.style">
        {{ connectionState.label }}
      </v-chip>
      <v-spacer></v-spacer>

      <div class="grey--text caption">v[[${app_version}]]</div>
    </v-footer>
  </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
